<footer class="footer">
    <div class="container">
        <div class="footer-wrapper">
            <div class="footer-top">
                <a href="#" class="logo">
                    <img
                        class="logo-img"
                        src="assets/images/logo/logo-grey.svg"
                        alt="Логотип"
                    />

                    <span class="logo-text">
                        <img
                            class="logo-text_img"
                            src="assets/images/logo/logo-text_grey.svg"
                            alt="COMPONY"
                        />
                    </span>
                </a>

                <ul class="menu-list">
                    <li class="menu-item">
                        <a href="#" class="menu-item__link">Home</a>
                    </li>
                    <li class="menu-item">
                        <a href="#" class="menu-item__link">Your benefits</a>
                    </li>
                    <li class="menu-item">
                        <a href="#" class="menu-item__link">Our process</a>
                    </li>
                    <li class="menu-item">
                        <a href="#" class="menu-item__link">Our works</a>
                    </li>
                    <li class="menu-item">
                        <a href="#" class="menu-item__link">Testimonials</a>
                    </li>
                    <li class="menu-item">
                        <a href="#" class="menu-item__link">Start a project</a>
                    </li>
                </ul>

                <div class="social-list">
                    <div class="social-item">
                        <img
                            class="social-item__img"
                            src="./assets/images/social/facebookIcon.svg"
                            alt="facebook link"
                        />
                    </div>
                    <div class="social-item">
                        <img
                            class="social-item__img"
                            src="./assets/images/social/instagramIcon.svg"
                            alt="instagram link"
                        />
                    </div>
                    <div class="social-item">
                        <img
                            class="social-item__img"
                            src="./assets/images/social/twitterIcon.svg"
                            alt="twitter link"
                        />
                    </div>
                </div>
            </div>

            <div class="hr"></div>

            <div class="footer-bottom">
                <p class="legal-info">© 2021 Company</p>

                <div class="privacy-police-wrap">
                    <a href="#">Privacy policy</a>
                    <a href="#">Term of service</a>
                </div>
            </div>
        </div>
    </div>
</footer>
