$size-header_menu: 16px;
$size-button: 14px;
$size-title_main: 68px;
$size-title_section: 48px;
$size-title_sub: 20px;
$size-title_sub_section: 22px;
$size-title_smal_section: 12px;
$size-title_card: 22px;
$size-text_card: 16px;
$size-main_text: 20px;
